[Desktop Entry]
Type=Application
Name=Mini vMac
Comment=A miniature early Macintosh emulator for 68k machines
Exec=/usr/bin/minivmac
Icon=minivmac.ico
Terminal=false
Categories=Emulator;System;
