[Desktop Entry]
Type=Application
Name=Mini vMac
Comment=A miniature early Macintosh emulator for 68k machines
Exec=minivmac
Icon=minivmac
Terminal=false
Categories=Emulator;System;
